* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.flex {
	display: flex;
}

.flex--sb {
	justify-content: space-between;
}

.column--stretch {
	flex: 1 0 auto;
}

.padding-32 {
	padding: 2rem;
}
